@model IEnumerable<Student>
<div class="container my-5">
<h2 class="mb-4">Students</h2>
<a asp-controller="Student" asp-action="Create" class="btn btn-primary">Add New Student</a>
<hr>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(m => m.StudentId)</th>
        <th>@Html.DisplayNameFor(m => m.Name)</th>
        <th>@Html.DisplayNameFor(m => m.Surname)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var student in Model)
    { 
        
        <tr>
            <td>@Html.DisplayFor(modelItem => student.StudentId)</td>
            <td>@Html.DisplayFor(modelItem => student.Name)</td>
            <td>@Html.DisplayFor(modelItem => student.Surname)</td>
            <td>
                <a asp-controller="Student" asp-action="Edit" asp-route-id="@student.StudentId" class="btn btn-primary btn-sm">Edit</a>
                <a asp-controller="Student" asp-action="Delete" asp-route-id="@student.StudentId" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    }
    
    
    
    </tbody>
</table>
</div>